.FloatingNav-element {
    position: fixed;
    bottom: calc(16px + env(safe-area-inset-bottom));
}

.FloatingNav-left {
    left: calc(16px + env(safe-area-inset-left));
}

.FloatingNav-right {
    right: calc(24px + env(safe-area-inset-right));
}