.Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 78px;
    padding: calc(env(safe-area-inset-top) + 16px) calc(env(safe-area-inset-right) + 16px) 16px calc(env(safe-area-inset-left) + 16px);
}
